<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifier</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
        <form method="POST" class="post-form" action="/update_produit/{{id}}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>Produit Modifier</h3>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Titre </label>
                <div class="col-sm-4">
                     {{ prod.title}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Prix</label>
                <div class="col-sm-4">
                    {{prod.price }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">description</label>
                <div class="col-sm-4">
                    {{ prod.description }}
                </div>
            </div>

         
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">category</label>
                    <div class="col-sm-4">
                  <td>{{ prod.category }}</td>
                
                    </div>
            </div>

            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">image</label>
                    <div class="col-sm-4">
                            {{ prod.image }}
                            {% if prod.image.value %}
                                    <img src="/media/{{prod.image.value}}" class="img img-responsive" width="90px">
                            {% endif %}
                    </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Date ajoute</label>
                    <div class="col-sm-4">
                            {{ prod.date_added}}
                    </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" />
</body>
</html>
